<!-- This file should not be changed. It is used for making burger menue -->

<button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarNav" style="z-index:9999;">
    <ul class="navbar-nav d-lg-none vh-100 overflow-y-auto">
        {% for name, link in links.items %}
        <li class="nav-item">
            <a class="nav-link" href={{link}}> {{name}}</a>
        </li>
        {% endfor %}
    </ul>
</div>
