{% extends "main/base.html"|pjax:request %}
{% load main_tags %}
{% load pjax_tags %}
{% load static %}

{% block title %}
My Profile
{% endblock title%}

{% block links %}
<link type="text/css" href="{% static 'main/css/profile.css' %}" rel="stylesheet">
{% endblock links %}

{% block burger %}
{% get_burger_content %}
{% endblock burger %}

{% block content %}
<div class="main-container">
    <div class="left-menu">
        {% get_left_menu %}
    </div>
    <div class="right-part">

        <div class="right-head">

            <div class="right-head-back-img">
                {% if user.profile_back_img %}
                <img src="{{ user.profile_back_img.url }}" alt="default-back" id="user_back">
                {% else %}
                <img src="{% static 'main/images/default_user_back.jpg' %}" alt="default-back" id="user_back">
                {% endif %}
            </div>

            <div class="right-head-profile">

                <div class="right-head-profile-img">
                    {% if user.profile_img %}
                    <img src="{{ user.profile_img.url }}" alt="default-back">
                    {% else %}
                    <img src="{% static 'main/images/default_profile.png' %}" alt="default-back">
                    {% endif %}
                </div>

                <div class="right-head-profile-user-info-edit">
                    <div class="right-head-profile-user-info">
                        <div id="user-fname-lname"> {{user.first_name}} {{user.last_name}} </div>
                        <div id="login-info"> {{user.last_login}} </div>
                    </div>
                    <div class="right-head-profile-user-edit">
                        <a class="profile-btns" href="#" id=""> Edit </a>
                    </div>
                </div>

            </div>
        </div>

        <div class="right-photos">

          
            <div class="right-photos-head">
                {% if request.user.pk == user.pk %}
                <div>
                    <a href="{% url 'photos_page' %}" class="profile-btns"> Go to Photos</a>
                    <a href="#" id="modal_photo_add" class="profile-btns" data-bs-toggle="modal"
                        data-bs-target="#ajax_add_photo" id="modal_photo_add_btn">
                        Add Photo
                    </a>
                </div>
                {% endif %}
            </div>

            <div class="right-photos-body">
                {% if user_photos_objects %}
                {% for user_photo in user_photos_objects %}
                <div class="one-photo">
                    <img src="{{ user_photo.photo.url }}" alt="img">
                </div>
                {% endfor %}
                {% else %}
                <div class="right-photos-empty">
                    <p> No photos yet </p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2"
                            d="M13.5 24s1-1 2.5-1s2.5 1 2.5 1M29 16c0 7.18-5.82 13-13 13S3 23.18 3 16S8.82 3 16 3s13 5.82 13 13Zm-6 2a1 1 0 1 1-2 0a1 1 0 0 1 2 0Zm-12 0a1 1 0 1 1-2 0a1 1 0 0 1 2 0Z" />
                    </svg>
                </div>
                {% endif %}
            </div>
        </div>

        <div class="right-posts">

            <div class="right-posts-head">
                {% if request.user.pk == user.pk %}
                <a href="#" id="modal_post_add" class="profile-btns" data-bs-toggle="modal"
                    data-bs-target="#ajax_add_post">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 48 48">
                        <g fill="#000" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="4">
                            <path d="M24.0605 10L24.0239 38" />
                            <path d="M10 24L38 24" />
                        </g>
                    </svg>
                    Add Post
                </a>
                {% endif %}
            </div>

            {% if user_posts_objects %}
            <div class="right-posts-body">
                {% for user_post in user_posts_objects %}
                <div class="one-post">

                    <div class="one-post-head">

                        <div class="one-post-head-user-img-desciption">
                            <div class="one-post-head-user-img">
                                {% if user.profile_img %}
                                <img src="{{ user.profile_img.url }}" alt="default-back" id="user_img_in_post">
                                {% else %}
                                <img src="{% static 'main/images/default_profile.png' %}" alt="default-back"
                                    id="user_img_in_post">
                                {% endif %}
                            </div>
                            <div class="one-post-head-description">
                                <div id="user-name-in-post"> {{user.first_name}} {{user.last_name}}</div>
                                <div id="post-created-at"> {{user_post.created_at}} </div>
                            </div>
                        </div>

                        {% if request.user.pk == user.pk %}
                        <div class="one-post-delete-icon" value={{user_post.pk}}>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16">
                                <path fill="currentColor"
                                    d="M2 5v10c0 .55.45 1 1 1h9c.55 0 1-.45 1-1V5H2zm3 9H4V7h1v7zm2 0H6V7h1v7zm2 0H8V7h1v7zm2 0h-1V7h1v7zm2.25-12H10V.75A.753.753 0 0 0 9.25 0h-3.5A.753.753 0 0 0 5 .75V2H1.75a.752.752 0 0 0-.75.75V4h13V2.75a.752.752 0 0 0-.75-.75zM9 2H6v-.987h3V2z" />
                            </svg>
                        </div>
                        {% endif %}

                    </div>

                    <div class="one-post-body">
                        {% if user_post.text %}
                        <div class="one-post-body-text">
                            {{ user_post.text|truncatewords:70|linebreaks}}
                        </div>
                        {% endif %}
                        {% if user_post.content %}
                        <div class="one-post-body-content">
                            {% if user_post.content_type.name == 'image' %}
                            <img src="{{user_post.content.url}}" alt="post_img">
                            {% elif user_post.content_type.name == 'video '%}
                            <video src="{{user_post.content.url}}" autoplay alt="post_video" controls>
                            </video>
                            {% endif %}
                        </div>
                        {% endif %}

                        <div class="one-post-body-marks">
                            {% if user_post.like_status %}
                            <div class="profile-btns one-post-likes likes" value="{{user_post.pk}}">
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 48 48">
                                        <path fill="none" stroke="currentColor" stroke-linecap="round"
                                            stroke-linejoin="round" stroke-width="4"
                                            d="M15 8C8.925 8 4 12.925 4 19c0 11 13 21 20 23.326C31 40 44 30 44 19c0-6.075-4.925-11-11-11c-3.72 0-7.01 1.847-9 4.674A10.987 10.987 0 0 0 15 8Z" />
                                    </svg>
                                </div>
                                <div class="likes_count"> {{ post_likes_count|get_from_dict:user_post.pk }} </div>
                            </div>
                            {% endif %}
                            {% if user_post.comment_status %}
                            <div class="profile-btns one-post-comments">
                                <div>
                                    <a href="#" id="modal_comment_add" class='comments' data-bs-toggle="modal"
                                        style="text-decoration:none; color:white;" data-bs-target="#ajax_add_comment"
                                        id="modal_comment_add_btn" value={{user_post.pk}}>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22"
                                            viewBox="0 0 24 24">
                                            <path fill="none" stroke="currentColor" stroke-linecap="round"
                                                stroke-linejoin="round" stroke-width="2"
                                                d="M19 4H5a2 2 0 0 0-2 2v15l3.467-2.6a2 2 0 0 1 1.2-.4H19a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2z" />
                                        </svg>
                                    </a>
                                </div>
                                <div>{{ post_comments_count|get_from_dict:user_post.pk }} </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% else %}
        <div class="right-posts-empty">
            <p> No posts yet </p>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M13.5 24s1-1 2.5-1s2.5 1 2.5 1M29 16c0 7.18-5.82 13-13 13S3 23.18 3 16S8.82 3 16 3s13 5.82 13 13Zm-6 2a1 1 0 1 1-2 0a1 1 0 0 1 2 0Zm-12 0a1 1 0 1 1-2 0a1 1 0 0 1 2 0Z" />
            </svg>
        </div>
        {% endif%}
    </div>
</div>
</div>
{% include 'main/modal_add_photo.html' %}
{% include 'main/modal_add_post.html' %}
{% include 'main/modal_add_comment.html' %}
{% endblock content %}

{% block scripts %}
<script src="{% static 'main/js/modal.js' %}"></script>
<script src="{% static 'main/js/profile.js' %}"></script>
{% endblock scripts %}