.main-container {
    position: relative;
    left: 50%;
    width: 95vw;
    height: 80vh;
    transform: translate(-50%);
    display: grid;
    grid-template-columns: 15vw 80vw;
    column-gap: 5px;
}

.left-menu {
    background-color: #404040;
    border-radius: 20px 0px 0px 20px;
    height: 80%;
}

.left-menu .menu-content {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: left;
    flex-direction: column;
    justify-content: space-evenly;
}

#sign-out {
    color: #212323;
}

.left-menu .menu-content div a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-left: 2.5em;

}

.left-menu .menu-content div a:hover {
    color: #FDC75B;
    transition: 0s ease;
}

.profile-btns, .profile-btns-inactive {
    background-color: #171717;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    text-align: center;
    white-space:nowrap;
}

.profile-btns:hover {
    background-color: #FDC75B;
    transition: 0.5s ease;
}

/* ============================================================================= */
/* ----------------------------------------------------------------------------- */

.right-part {
    display: grid;
    grid-template-rows: 60px auto;
    max-width: 100%;
    border-radius: 0px 20px 20px 0px;
    overflow-y: auto;
    row-gap: 5px;
}

.right-part-head {
    grid-row: 1; 
    background-color: #404040;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.right-part-body {
    grid-row: 2; 
    display: grid;
    grid-template-rows: 80px auto;
    row-gap: 5px;
}


.right-part-body-head {
    grid-row: 1; 
    display: flex;
    background-color: #404040;
    flex-direction: row;
    height: 100%;
    width: 100%;
    overflow-x: auto;
}

.no-users {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right-part-body-main {
    grid-row: 2; 
    background-color: #404040;
    flex-direction: column;
   
}

.one-opponent {
    max-height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 5px; 
    margin-bottom: 5px;

}
.opponent-img {
    max-width: 70px;
    max-height: 70px; 
    margin-right: 15px;
    
}
.opponent-name {
    font-weight: bold;
}

.opponent-img img {
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 50px;
    border: 5px solid #171717;
}

.users-container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    overflow: auto;
}

.users-container > div {
    margin-left: 5px ;
    margin-right: 5px;
}

.one-user {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-img {
    max-height: 50px;
    max-width: 50px;
}

.user-img img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50px;
    border: 3px solid #171717;
    box-shadow: 0px 2px 5px #171717;
}




@media (max-width: 992px) {
    .main-container {
        grid-template-columns: 1fr !important;
    }

    .left-menu {
        display: none;
    }

    .right-part {
        grid-column: 1 !important;
        border-radius: 20px 20px 20px 20px !important;
    }
}


::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 0px 20px 20px 0px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #FDC75B, #ED664C);
    border-radius: 20px;
    height: 50px;
    /* Установите маргины, чтобы скроллбар занимал определенную высоту */
    margin-top: 20px;
    margin-bottom: 20px;
}