.begin {
    padding: 15px; 
    background: #ED664C;
    border-radius: 15px;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    text-align: center;
    width: 40%;
    min-width: 180px;
}

#logo {
    margin-bottom: 2%;
}

.begin:hover{
    background: #171717;
    transition: 0.5s ease;
}

.wellcome-box {
   left: 50%;
   width: 80%;
   max-height: 80vh;
   position: relative;
   transform: translate(-50%);
   background-color: #404040;
   padding: 2% 5% 2% 5%; 
   border-radius: 20px;
}

h1 {
    margin-bottom: 40px;
}

.head {
    margin-bottom: 50px;
    text-align: center;
}

.bottom {
    display: flex;
    justify-content: center;
}

